In [3]:
import asyncio
import nest_asyncio
import aiohttp
import pandas as pd

In [2]:
pip install aiohttp pandas

Collecting aiohttp
  Downloading aiohttp-3.10.8-cp312-cp312-win_amd64.whl.metadata (7.8 kB)
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp)
  Downloading aiohappyeyeballs-2.4.3-py3-none-any.whl.metadata (6.1 kB)
Collecting aiosignal>=1.1.2 (from aiohttp)
  Downloading aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\afiqhusaini.rosdi\appdata\local\programs\python\python312\lib\site-packages (from aiohttp) (24.2.0)
Collecting frozenlist>=1.1.1 (from aiohttp)
  Downloading frozenlist-1.4.1-cp312-cp312-win_amd64.whl.metadata (12 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp)
  Downloading multidict-6.1.0-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting yarl<2.0,>=1.12.0 (from aiohttp)
  Downloading yarl-1.13.1-cp312-cp312-win_amd64.whl.metadata (52 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\afiqhusaini.rosdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\afiqhusaini.rosdi\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\afiqhusaini.rosdi\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: idna>=2.0 in c:\users\afiqhusaini.rosdi\appdata\local\programs\python\python312\lib\site-packages (from yarl<2.0,>=1.12.0->aiohttp) (3.10)
Downloading aiohttp-3.10.8-cp312-cp312-win_amd64.whl (379 kB)
Downloading pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ----------- ---------------------------- 3.4/11.5 MB 15.4 MB/s eta 0:00:01
   ------------------------ --------------- 7.1/11.5 MB 17.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 16.4 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 14.7 MB/s eta 0:00:00
Downloading aiohappyeyeballs-2.4.3-py3-none-any.whl (14 kB)
Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Downloading frozenlist-1.4.1-cp312-cp312-win_amd64.whl (50 kB)
Downloading multidict-6.1.0-cp312-cp312-win_amd64.whl (28 kB)
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Downloading yarl-1.13.1-cp312-cp312-win_amd64.whl (111 kB)
Installing collected packages: pytz, tzdata, multidict, frozenlist, aiohappyeyeballs, yarl, pandas, aiosignal, aiohttp
Successfully installed aiohappyeyeballs-2.4.3 aiohttp-3.10.8 aiosignal-1.3.1 frozenlist-1.4.1 multidict-6.1.0 pandas-2.2.3 pytz-2024.2 tzdata-2024.2 yarl-1.13.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
df=pd.read_csv(".\\url_data\\URL Classification.csv",names=['url','category']).reset_index(drop=True) #url_data\URL Classification.csv
df

                                                       url category
0                         http://www.liquidgeneration.com/    Adult
1                              http://www.onlineanime.org/    Adult
2        http://www.ceres.dti.ne.jp/~nekoi/senno/senfir...    Adult
3                               http://www.galeon.com/kmh/    Adult
4                              http://www.fanworkrecs.com/    Adult
...                                                    ...      ...
1562973                           http://www.maxpreps.com/   Sports
1562974                            http://www.myscore.com/   Sports
1562975        http://sportsillustrated.cnn.com/highschool   Sports
1562976    http://rss.cnn.com/rss/si_highschool?format=xml   Sports
1562977              http://www.usatoday.com/sports/preps/   Sports

[1562978 rows x 2 columns]

## Asyncio and aiohttp

In [5]:
import asyncio
import aiohttp
import os
import time
import pandas as pd
# To work with the .env file
from dotenv import load_dotenv
load_dotenv()

api_key = os.getenv('ALPHAVANTAGE_API_KEY')
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol={}&apikey={}'
symbols = ['AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL','AAPL', 'GOOG', 'TSLA', 'MSFT', 'AAPL']
results = []

start = time.time()

async def get_tasks(session,symbol):
    async with session.get(url.format(symbol, api_key)) as response:
        return await response.json()

async def get_symbols(symbols):
    async with aiohttp.ClientSession() as session:
        tasks = [get_tasks(session,symbol) for symbol in symbols]
        responses = await asyncio.gather(*tasks)
    return responses

nest_asyncio.apply()
rslt=asyncio.run(get_symbols(symbols))
rslt2=pd.DataFrame(rslt)
end = time.time()
total_time = end - start
print(rslt2)
print("It took {} seconds to make {} API calls".format(total_time, len(symbols)))
print('You did it!')

ModuleNotFoundError: No module named 'dotenv'

In [84]:
rslt2

                                          Information
0   Thank you for using Alpha Vantage! Our standar...
1   Thank you for using Alpha Vantage! Our standar...
2   Thank you for using Alpha Vantage! Our standar...
3   Thank you for using Alpha Vantage! Our standar...
4   Thank you for using Alpha Vantage! Our standar...
5   Thank you for using Alpha Vantage! Our standar...
6   Thank you for using Alpha Vantage! Our standar...
7   Thank you for using Alpha Vantage! Our standar...
8   Thank you for using Alpha Vantage! Our standar...
9   Thank you for using Alpha Vantage! Our standar...
10  Thank you for using Alpha Vantage! Our standar...
11  Thank you for using Alpha Vantage! Our standar...
12  Thank you for using Alpha Vantage! Our standar...
13  Thank you for using Alpha Vantage! Our standar...
14  Thank you for using Alpha Vantage! Our standar...
15  Thank you for using Alpha Vantage! Our standar...
16  Thank you for using Alpha Vantage! Our standar...
17  Thank you for using Alpha Vantage! Our standar...
18  Thank you for using Alpha Vantage! Our standar...
19  Thank you for using Alpha Vantage! Our standar...

## parse module

In [7]:
pip install parse

Collecting parse
  Downloading parse-1.20.2-py2.py3-none-any.whl.metadata (22 kB)
Downloading parse-1.20.2-py2.py3-none-any.whl (20 kB)
Installing collected packages: parse
Successfully installed parse-1.20.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
import parse as pr
import pandas as pd

simple_log_data = [
    "INFO [2023-05-17 12:34:56.789] This is a simple log message",
    "ERROR [2023-05-18 01:23:45.678] An error occurred",
    "WARNING [2023-05-19 10:20:30.123] This is a warning message"
]

formatt="{type} [{date}] {message}" 

collection=[]
for line in simple_log_data:
    parsed=pr.parse(formatt,line).named
    collection.append(parsed)

pd.DataFrame(collection)

      type                     date                       message
0     INFO  2023-05-17 12:34:56.789  This is a simple log message
1    ERROR  2023-05-18 01:23:45.678             An error occurred
2  WARNING  2023-05-19 10:20:30.123     This is a warning message